/* primary color 283618 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato";
}

body {
  background-color: #fdfffa;
}
.center-1 {
  max-width: 95%;
  margin: 0 auto;
}
