.button {
  background-color: #283618;
  color: #fff;
  padding: 1.6rem;
  font-size: 1.6rem;
  border-radius: 0.9rem;
  border: none;
}

.button:hover {
  background-color: #384f1e;
  cursor: pointer;
}
